
@{
    ViewData["Title"] = "Privacy";
}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
    <link rel="stylesheet" href="styles.css">
</head>


<body>
    <div class="container" id="container_privacy">
        <h1>Политика конфиденциальности</h1>
        <table>
            <thead>
                <tr>
                    <th>Закон о данных</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ФЗ-152 (Закон о персональных данных)</td>
                    <td>Регулирует обработку персональных данных и защищает права граждан на конфиденциальность.</td>
                </tr>
                <tr>
                    <td>ФЗ-149 (Закон об информации, информационных технологиях и о защите информации)</td>
                    <td>Определяет основы правового регулирования в сфере информации и защиты информации.</td>
                </tr>
                <tr>
                    <td>ФЗ-63 (Закон о электронной подписи)</td>
                    <td>Устанавливает правовой статус электронной подписи и порядок ее использования.</td>
                </tr>
                <tr>
                    <td>ФЗ-218 (Закон о государственной регистрации недвижимости)</td>
                    <td>Регулирует вопросы, связанные с защитой данных о недвижимости и собственниках.</td>
                </tr>
                <tr>
                    <td>ФЗ-230-ФЗ (Закон о защите прав потребителей)</td>
                    <td>Защищает права потребителей, включая право на информацию о товаре и услуги.</td>
                </tr>
            </tbody>
        </table>

        <h2>Права пользователей</h2>
        <ul>
            <li>Право на доступ к своим персональным данным</li>
            <li>Право на исправление неточных данных</li>
            <li>Право на удаление своих персональных данных</li>
            <li>Право на ограничение обработки своих данных</li>
            <li>Право на переносимость данных</li>
        </ul>
    </div>
</body>
</html>