@model Form
@{
    ViewData["Title"] = "Form Page";
}





<body id="body_form">
<div class="container" id="container_form">
    <div class="image-container">
        <img src="~/img/form.jpeg" alt="Description" class="image4">
    </div>
    <div class="text-container">
        <h2>Предзаказ</h2>
            <p>
                Готовы стать частью мистической истории, где оживает древняя тайна и зло скрывается в самых глубинах человеческой души? Вступите в битву за искупление с Луизой – главной героиней нашей новой игры!
                Подготовьтесь к потрясающим приключениям, наполненным загадками, интригами и борьбой со злом, которое пытается овладеть её самой. Вас ждут удивительные персонажи, сложные психологические аспекты и невероятные повороты сюжета, которые заставят ваше сердце биться быстрее.
                Присоединяйтесь к бета-тестированию игры и помогите Луизе найти свой истинный путь к исцелению и спасению от зловещих сил. Узнайте, что такое настоящее испытание искупления в мире, где тьма и свет соперничают за власть над человеческими душами.
                Готовы ли вы принять вызов? Погрузитесь во вселенную загадочного прошлого и неизведанных возможностей вместе с Луизой – ваше приключение только начинается!"
                модель
            </p>
    </div>
    <div class="form-container">
        <form method="post" asp-controller="Form" asp-action="Check">
            <label asp-for="Name"></label>
            <input asp-asp-for="Name" placeholder="Ваше имя" />
            <span asp-validation-for="Name"></span>

            <label asp-for="Email"></label>
            <input asp-asp-for="Email" placeholder="Ваша почта" />
            <span asp-validation-for="Email"></span>

            <input type="submit" value="Войти" class="submit-button" />
        </form>
            <button class="register-btn"> 
                <a href="Registration">Зарегистрироваться</a>
            </button>
    </div>
</div>
</body>

