@{
    ViewData["Title"] = "Minor Characters";
}

<html lang="ru">
<body>
    <div id="page1" class="page">
        <div class="image-text-block">
            <img src="~/img/card3.jpeg" alt="Описание изображения" class="image">
            <div class="text" id="text_minorchar">
                <h2>Тора</h2>
                <p>
                    Тора — это зловещий дух, окутанный тайной и мрачностью. Его силуэт постоянно меняется, как будто отражая тревоги и страхи тех, кто его видит. Он может принимать различные образы, от человека с искажёнными чертами до теней, которые хаотично движутся в темноте. Его глаза светятся холодным голубым светом, излучая жуткую ауру, которая заставляет людей чувствовать себя уязвимыми и напуганными.
                    В своей сущности Тора — это дух, который питается негативными эмоциями, особенно чувством вины и страха. Он становится олицетворением внутренних демонов Луизы, выступая как неумолимый противник, который ведет её по пути саморазрушения и страданий. Все его действия направлены на то, чтобы разжигать конфликт внутри неё, затягивая в игру, где она сталкивается с собственными потерями и сожалениями.
                </p>
            </div>
        </div>
    </div>

    <div id="page2" class="page">
        <div class="image-text-block">
            <div class="text" id="text_minorchar">
                <h2>Тенебриты</h2>
                <p>
                    Тенебриты — это маленькие черные человечки, обладающие уникальной способностью сливаться с тенями и создавать вокруг себя атмосферу беспокойства. Их тела словно вытянутые тени, лишенные четких очертаний, что делает их практически незаметными при слабом свете. светящиеся глаза, полные хитрости и злого удовольствия. При движении Тенебриты издают влажный звук, напоминающий капли воды, падающие на землю. Это создает жуткое впечатление, что они способны появляться и исчезать в любой момент, оставаясь лишь призраками ночи.
                    Хотя они служат Торре и олицетворяют легкомысленное зло, Тенебриты не являются агрессивными созданиями. Они могут неожиданно появляться перед Луизой, перемещая предметы или вызывая тихие звуки, чтобы отвлечь её внимание. Их игривое, но зловещее поведение создает ощущение постоянного присутствия угрозы, заставляя Луизу чувствовать себя на грани между реальностью и кошмаром. В этом взаимодействии они становятся символом внутреннего напряжения и страха, который Торра использует для манипуляции и контроля над своей жертвой.
                </p>
            </div>
            <img src="~/img/card2.jpeg" alt="Описание изображения" class="image">
        </div>
    </div>

    <div id="page3" class="page">
        <div class="image-text-block">
            <img src="~/img/card1.jpeg" alt="Описание изображения" class="image">
            <div class="text" id="text_minorchar">
                <h2>Октус</h2>
                <p>
                    Октус — зловещий дух с головой солнца, олицетворяющий двойственную природу света и тьмы. Его жуткая улыбка, фиксированная на лице, словно карикатура радости, вызывает у окружающих тревогу и беспокойство. При каждом его появлении раздается пронзительный звонкий смех, который проникает в душу, оставляя след из паранойи и страха. Подобно солнечному свету, он может быть притягательным, но за этой маской скрывается намерение причинить боль и разрушить.
                    Он находит удовольствие в проклятых шутках и психологических играх, ставя своих врагов перед трудными моральными выборами и заставляя их сталкиваться с собственными страхами. В то время как днем он становится сильнее, наполняя мир своим обманчивым светом, ночью его истинная природа проявляется в полной мере, когда таинственные теневые формы начинают преследовать тех, кто осмеливается противостоять ему. Октус — это не просто злой дух; он воплощение страха и искушения, которое заставляет людей помнить о своих слабостях и преодолевать их во имя спасения.
                </p>
            </div>
        </div>
    </div>
    <div id="page4" class="page">
        <div class="image-text-block">
            <div class="text" id="text_minorchar">
                <h2>Вивьен Кастро </h2>
                <p>
                    Вивьен Кастро — эксцентричная дама с яркими рыжими волосами, которые словно пламя сверкают на солнце и привлекают внимание окружающих. Вивьен известна своим остроумием и непредсказуемым поведением, что подчеркивает её харизму и индивидуальность. За внешней экстравагантностью скрывается проницательный ум и стремление к приключениям; она всегда готова идти на риск ради новых возможностей.
                    Получив заманчивое предложение от Луизы, Вивьен мгновенно погружается в этот заказ, понимая, что большие деньги могут открыть новые горизонты для её амбициозных проектов. Благодаря своим экстрасенсорным способностям, она не только ищет финансовую выгоду, но и интуитивно чувствует скрытые мотивы Луизы. Вивьен воспринимает эту ситуацию как шанс не только заработать, но и добавить немного ярких красок в свою жизнь, взаимодействуя с мистикой и загадками, окружающими её новую клиентку.
            </div>
            <img src="~/img/card4.jpeg" alt="Описание изображения" class="image">
        </div>
        <script src="script.js"></script>
    </div>

    <script src="script.js"></script>
</body>
</html>
