@{
    ViewData["Title"] = "Luiza";
}
<html lang="ru">
<body id="body_luiza">
    <div class="container" id="container_djeims">
        <div class="image-container" id="image-container5">
            <img src="~/img/luiza.jpeg" alt="Description" class="image5">
        </div>
        <div class="text-container" id="text-container_djeims">
            <h2>Луиза Райнхард </h2>
            <p>
                Луиза Райнхард – изысканная аристократка, чья хрупкая душа пронизана меланхолией и темными тайнами прошлого. Дочь главы одного из успешнейших издательских домов, она выросла в окружении роскоши и претенциозности,
                но скрывает в себе беспокойство и чувство вины за темные секреты своей семьи.
                Погружаясь в мир религии и духовности, Луиза ищет искупление за свои грехи и спасение от кошмаров, которые стали преследовать её после таинственного инцидента в арт-галерее.
                Погружаясь в мир религии и духовности, Луиза Райнхард ищет искупление за свои грехи и спасение от кошмаров, которые стали преследовать её после таинственного инцидента в арт-галерее.
                Сама по себе Луиза – загадочная и проникновенная личность, с глубокими глазами, в которых отражается невыразимая боль и стремление к истине.
                Её благородная осанка и изысканный облик скрывают бурные эмоции и внутренние раздоры, делая её персоной, чья сущность наполнена сложными пластами тайны и неизведанных граней души.

            </p>

        </div>
    </div>
</body>
<</html>
