@{
    ViewData["Title"] = "Djeims";
}

<body id="body_djeims">
    <div class="container" id="container_djeims">
        <div class="image-container" id="image-container5">
            <img src="~/img/djeims.jpeg" alt="Description" class="image5">
        </div>
        <div class="text-container" id="text-container_djeims">
            <h2>Джеймс Норрингтон</h2>
            <p>
                Джеймс Норрингтон – молодой, харизматичный и язвительный журналист, чья страсть к профессии непоколебима. Он постоянно стремится к успеху и славе, используя свой острый ум и язвительный язык, чтобы прославиться в издательском мире. Его детство, омраченное тяжелыми испытаниями, обусловило его жажду власти и статуса,
                именно поэтому работа в издательстве,где помог ему попасть отец Луизы Райнхард, имеет для него огромное значение.
                Для Джеймса Норрингтона семья Райнхардов стала своеобразной опорой и центром его вселенной, сочетая важность близких людей с амбициями и желанием достичь еще большего в жизни. Его внутренний конфликт между верностью семье и стремлением к славе и власти делает его персонажем со множеством противоречий,
                искры которых летят насквозь при каждом его выступлении или решении. Джеймс представляется аудитории как запутанный узел эмоций и желаний, готовый развернуться в любую сторону, в зависимости от выбора между сердцем и разумом.
            </p>

        </div>
    </div>
</body>